@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-size: 1em;  
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    
}

header > p {
    padding-bottom: 40px;
}

section {
    padding: 70px 20px;
    font-family: var(--fonte3);
    font-size: 3em;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.535);
    width: 580px;
    padding: 20px 20px
}

section.image {
    color: aliceblue;
}

.image#img01 {
    background-image: url(imagens/background001.jpg);
}

.image#img02 {
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
