@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-size: 1em;  
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body, html{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /*Todas as letras em maiúscula porém as iniciais são maiores*/
    font-family: var(--fonte2);
    font-size: 10vw;
    
}

header > p {
    padding-bottom: 50px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em; /*LINE-HEIGHT: espaçamento entre linhas */
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}

section.text {
    background-color: white;
    color: black;
}

section.image {
    background-color: rgb(70, 70, 70);
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541); /*sombra pra dentro*/
    background-size: cover;
    background-attachment: fixed; /*com as imagens pequenas e aparecendo 100% nas
    divs, o bg-attachment: fixed serve pra no rolamento as imagens ficarem paradas, causando o efeito paralaxe*/
}

section.image > p {
    display: inline-block; /*tamanho da div se adapta a tela*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.526);
    text-shadow: 1px 1px 0px black; /*vertical lateral espalhamento e cor*/
}

.image#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    
}

.image#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right ;
    
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
